<footer class="app-footer footer-fixed">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 text-xl-left">
                <a href="https://www.ezmid.com/">
                    EZMID &copy;
                </a>
            </div>
            <div class="col-xl-6 text-xl-right">
                <span class="d-lg-down-none">
                    <small>Created with</small>
                    <i class="fab fa-linux"></i>
                    <i class="fab fa-sass"></i>
                    <i class="fab fa-node-js"></i>
                    <i class="fab fa-php"></i>
                    <i class="fab fa-docker"></i>
                    +
                    <i class="fa fa-heart"></i>
                    <br>
                </span>
                <small class="text-dark">
                    by the
                    <i class="fab fa-accessible-icon"></i>
                    <strong>Vintage Guys</strong>
                </small>
            </div>
        </div>
    </div>
</footer>